@import url(../node_modules/bootstrap/dist/css/bootstrap.css);

:root {
  --primary: #0a1b1e;
}
:root {
  --primary-dark: #222831;
  --secondary-dark: #0a1b1e;  
  --secondary-dark-hover: #18444b;
  --secondary-dark-focus: #112a2e;
  --secondary-dark-active: #022e35;
  --primary: #f7931e;
  --primary-hover: #f78400;
  --primary-focus: #ffb662;
  --primary-active: #b15e00;
  --primary-faded: #f7931e80;
  --primary-light: #eeeeee;
  --white: #ffffff;
  --xs: 575px; /* Max container width None (auto) */
  --sm: 576px; /* Max container width 540px */
  --md: 768px; /* Max container width 720px */
  --lg: 992px; /* Max container width 960px */
  --xl: 1200px; /* Max container width 1140px */
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-hover);
}

@font-face {
  font-family: "D2Heavy";
  src: url("./fonts/diablo_h.ttf") format("woff");
}

@font-face {
  font-family: "D2Light";
  src: url("./fonts/diablo_l.TTF") format("woff");
}

body {
  background: url(https://d1hnj6esvk269c.cloudfront.net/en/d3/plugins/discourse-blizzard-themes/images/backgrounds/d3/top.jpg) 
  center -200px no-repeat,
              url(https://d1hnj6esvk269c.cloudfront.net/en/d3/plugins/discourse-blizzard-themes/images/backgrounds/d3/repeat.jpg) center -200px repeat-y;
  background-attachment: fixed;
  font-family: "D2Heavy";
  background-color: #0a1b1e;
  color: #fff;
}

.App {
  min-height: 100vh;
  padding-bottom: 60px; /* Footer Height */
  position: relative;
}

.d2h{
  font-family: "D2Heavy";
}

.d2l{
  font-family: "D2Light";
}

.c-orange {
  color: var(--primary);
}

.nav-btn {
  border: none;
  background: none;
  color: #007bff;
}

.nav-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}

td {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
  align-items: center;
  background-color: #0a1b1e;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  background-color: var(--primary-dark);

}

/* Header Navigation */
ul.nav-list {
  overflow: hidden;
  background-color: var(--secondary-dark);
  list-style: none;
  margin: 0;
}

ul.nav-list li {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  text-decoration: none;
}

ul.nav-list li:not(.nav-item-brand) {
  padding: 12px 16px;
}

ul.nav-list li:hover {
  background-color: var(--secondary-dark-hover);
  transition: 0.5s;
  cursor: pointer;
}

ul.nav-list li.active {
  background-color: var(--secondary-dark-active);
  color: var(--primary-light);
}

ul.nav-list .nav-toggle {
  display: none;
  background-color: var(--secondary-dark);
}

.nav-brand-name {
  display: inline;

}

@media screen and (max-width: 768px) {
  ul.nav-list li:not(:first-child) {
    display: none;
  }
  ul.nav-list li.nav-toggle {
    float: right;
    display: block;
  }
  ul.nav-list.responsive {
    position: relative;
    overflow: visible;
  }
  ul.nav-list.responsive .nav-toggle {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav-list.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  ul.nav-list.responsive li > *{
    flex-grow: 1;
  }
  .nav-brand-name {
    display: none;
  }
}

nav.custom-navbar {
  background-color: var(--primary);
}

.nav-link {
  margin-left: 20px;
  font-size: 1.5rem;
  padding: 0;
}

.floating-button{
  z-index: 100;
  width: 60px;
  height: 60px;
  background-color: var(--primary-dark);
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border: 1px solid #343a40;
}

.floating-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.chevron:after {
  content: ' ';
  display: inline-block;
  border-bottom: 5px solid #f7931e;
  border-right: 5px solid #f7931e;
  height: 20px;
  width: 20px;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
}


